<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <h4>Welcome Message</h4>
    <p>{{welcomeMessage}}</p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
