<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <h4>Welcome Message</h4>
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}} 
  </body>
</html>
