<!DOCTYPE html>
<html>
  <head>
    <meta charset="uft-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Maintenance Mode</h1>
    <p>The site is currently under Maintenance.</br>
    We will be back soon.</p>

    {{> footer}} 
  </body>
</html>
